<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yalantis.starwarsdemo">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yalantis.starwarsdemo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/sw_lib_name">

        <activity
            android:name=".view.DemoActivity"
            android:label="StarWars"
            android:screenOrientation="portrait"
            android:theme="@style/StarWarsAppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
